<!-- 
	Using the ngInfiniteScroll Library Here. All the function definitions are in infinitescroll.js
-->

<div infinite-scroll='InfiniteScroll.nextPage()' infinite-scroll-disabled='InfiniteScroll.busy' infinite-scroll-distance='1'>

	<div class="row" ng-repeat='post in InfiniteScroll.posts'>
	  <div class="col-lg-6 col-lg-offset-3">
	  	<div class="well well-lg" style="background-color:#ffffff !important;">
	  		<p>{{post.description}}</p>
		  	<div class="thumbnail">
		      <a href="{{post.embedded_content.url}}"><img src="{{post.embedded_content.thumbnail_url}}"></a>
		      <div class="caption">
		        <p>{{post.embedded_content.description}}</p>
		      </div>
		    </div>
		    {{post.creator}} asked {{post.question}}
	  </div>
	</div>
	<div ng-show='InfiniteScroll.busy'>Loading data...</div>
</div>
