<div infinite-scroll='InfiniteScroll.nextPage()' infinite-scroll-disabled='InfiniteScroll.busy' infinite-scroll-distance='1'>

	<div class="panel panel-default" ng-repeat='post in InfiniteScroll.posts'>
	  <div class="panel-heading">
	    <h3 class="panel-title">{{post.creator}} on {{post.created_at}}</h3>
	  </div>
	  <div class="panel-body">
	    {{post.description}}
	    <hr/>
	    <div class="row">
		    <div class="col-lg-6">
		    	<img src="{{post.embedded_content.thumbnail_url}}"/>
		    </div>
		    <div class="col-lg-6">
		    	{{post.embedded_content.description}}
		    </div>
	   	</div>
	  </div>
	</div>
	<div ng-show='InfiniteScroll.busy'>Loading data...</div>
</div>